@model IEnumerable<WebAppRedo.Data.Reminder>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Description)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IsComplete)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.HasAlarms)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.AlarmTime)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.AlarmDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Periodic)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TimeFramesId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PeriodicDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PeriodicTime)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.UserId)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Description)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IsComplete)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.HasAlarms)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.AlarmTime)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.AlarmDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Periodic)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TimeFramesId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PeriodicDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PeriodicTime)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.UserId)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
