@using WebAppRedo.Data.Models
@model IEnumerable<ReminderVM>

@{
    ViewData["Title"] = "Index";
}

<h1 class="text-center">Task Reminder</h1>

<br />
@* <div class="text-center">
    <button class="btn-light rounded-pill justify-content-center ">
        <a asp-action="Create">Add New Task</a>
    </button>
</div> *@

<div class="text-center">
        <a asp-action="Create">Add New Task</a>
</div>

<br />
<hr />
@* <div class="form-group col">
    <label asp-for="UserId" class="control-label fw-bold"></label>
    <input asp-for="UserId" class="form-control bg-light" runat="server" ReadOnly="true" />
    <span asp-validation-for="UserId" class="text-danger"></span>
</div> *@

<div id="taskTable" class="container text-center">
        <table class="table table-bordered rounded-top">
            <thead class="thead-primary bg-primary text-light">
                <tr class="bg-body">
                    <th>
                        @Html.DisplayNameFor(model => model.IsComplete)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Name)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Alarm)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.TimeFrameSelection)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.PeriodicAlarm)
                    </th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.IsComplete)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Name)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Alarm)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.TimeFrameSelection)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.PeriodicAlarm)
                        </td>
                        <td>
                            <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                            <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                            <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>

    </div>
<hr />
