@using WebAppRedo.Data.Models
@model IEnumerable<ReminderVM>

@{
    ViewData["Title"] = "Index";
}

<link rel="stylesheet" href="~/WebAppRedo.styles.css" asp-append-version="true" />
<link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Rakkas&display=swap" rel="stylesheet">

<div class="text-center">
    <h1 class="display-4 rakkas-regular ">Mystic To Do</h1>
    <div id="carouselExampleAutoplaying" class="carousel slide" data-bs-ride="carousel">
        <div class="carousel-inner">
            <div class="carousel-item active">
                <img src="/img/reminder.png" class="d-block mx-auto w-80" alt="reminders">
            </div>
            <div class="carousel-item">
                <img src="/img/task.png" class="d-block mx-auto w-80" alt="tasks">
            </div>
            <!-- You can add more carousel items here -->
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleAutoplaying" data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleAutoplaying" data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
        </button>
    </div>

</div>

<hr />
<hr />
<h1 class="text-center">Reminder List</h1>

<br />
<div class="text-center">
    <button class="bg-primary rounded-pill">
        <a class="nav-link text-white" asp-area="" asp-controller="Reminders"
           asp-action="Create">Add Reminder</a>
    </button>
</div>



<br />
<hr />
<br />
<h4 class="text-center">Active Reminders</h4>
<br />
<div class="text-center justify-content-center">
    <div id="taskTable" class="text-center ">
        <table class="table table-bordered rounded-top bg-info text-black">
            <thead class="bg-secondary text-light">
                <tr class="bg-primary">
                    <th>
                        @Html.DisplayNameFor(model => model.IsComplete)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Name)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Alarm)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.TimeFrameSelection)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.PeriodicAlarm)
                    </th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model.Where(modelItem => modelItem.IsComplete == false))
                {
                    <tr>
                        <td>
                            <div class="form-group form-check form-switch col">
                                <label class="form-check-label fw-bold">
                                    <input class="form-check-input toggle-cell" data-item-value="@item.IsComplete" type="checkbox" !checked />
                                </label>
                                <span class="text-danger"></span>
                            </div>
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Name)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Alarm)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.TimeFrameSelection)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.PeriodicAlarm)
                        </td>
                        <td>
                            <button class="bg-primary rounded">
                                <a asp-action="Edit" asp-route-id="@item.Id" class="text-white text-decoration-none">Edit</a>
                            </button>
                            <button class="bg-primary rounded">
                                <a asp-action="Details" asp-route-id="@item.Id" class="text-white text-decoration-none">Details</a>
                            </button>
                            <button class="bg-danger rounded">
                                <a asp-action="Delete" asp-route-id="@item.Id" class="text-white text-decoration-none">Delete</a>
                            </button>
                            <br />
                            <button class="bg-primary rounded">
                                <a asp-action="UpdateIsComplete" asp-route-id="@item.Id" class="text-white text-decoration-none">Set to Complete</a>
                            </button>
                        </td>
                    </tr>
                }
            </tbody>
        </table>

    </div>
</div>
<br />
<h4 class="text-center">Completed Reminders</h4>
<br />
<div class="container text-center justify-content-center">
    <div id="taskTable" class="text-center ">
        <table class="table table-bordered rounded-top bg-info text-black">
            <thead class="bg-secondary text-light">
                <tr class="bg-primary">
                    <th>
                        @Html.DisplayNameFor(model => model.IsComplete)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Name)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Alarm)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.TimeFrameSelection)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.PeriodicAlarm)
                    </th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model.Where(modelItem => modelItem.IsComplete == true))
                {
                    <tr>
                        <td>
                            <div class="form-group form-check form-switch col">
                                <label class="form-check-label fw-bold">
                                    <input class="form-check-input toggle-cell" data-item-value="@item.IsComplete" type="checkbox" checked />
                                </label>
                                <span class="text-danger"></span>
                            </div>
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Name)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Alarm)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.TimeFrameSelection)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.PeriodicAlarm)
                        </td>
                        <td>
                            <button class="bg-primary rounded">
                                <a asp-action="Edit" asp-route-id="@item.Id" class="text-white text-decoration-none">Edit</a>
                            </button>
                            <button class="bg-primary rounded">
                                <a asp-action="Details" asp-route-id="@item.Id" class="text-white text-decoration-none">Details</a>
                            </button>
                            <button class="bg-danger rounded">
                                <a asp-action="Delete" asp-route-id="@item.Id" class="text-white text-decoration-none">Delete</a>
                            </button>
                            <br />
                            <button class="bg-primary rounded">
                                <a asp-action="UpdateIsComplete" asp-route-id="@item.Id" class="text-white text-decoration-none">Set to Active</a>
                            </button>
                        </td>
                    </tr>
                }
            </tbody>
        </table>

    </div>
</div>
<hr />
<br />
<hr />


<style>
    .rakkas-regular {
        font-family: "Rakkas", serif;
        font-weight: 400;
        font-style: normal;
    }

    img {
        width: 700px;
        height: 300px;
    }
</style>